@model WebMercadao.Models.MainViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mercadão - Área Admininstrativa</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="~/Content/css/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="~/Content/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/Content/css/startmin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="~/Content/css/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index")">Mercadão</a>
            </div>

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <ul class="nav navbar-nav navbar-left navbar-top-links">
                <li>
                    <a href="/">
                        <i class="fa fa-home fa-fw"></i> Ir para página principal</a>
                </li>
            </ul>

            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="@Url.Action("Index")" class="active">
                                <i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-user fa-fw"></i> Usuários
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("Clientes")">Clientes</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Atendentes")">Atendentes</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="@Url.Action("Mercados")">
                                <i class="fa fa-shopping-cart fa-fw"></i> Mercados</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Noticias")">
                                <i class="fa fa-calendar fa-fw"></i> Noticias</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Produtos")">
                                <i class="fa fa-barcode fa-fw"></i> Produtos
                                <span class="fa arrow"></span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Contatos")"><i class="fa fa-user-circle fa-fw"></i> Contatos<span class="fa arrow"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Clientes</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    @using (Html.BeginForm("Create", "Usuario"))
                                    {
                                        <div class="form-group">
                                            <label>Nome</label>
                                            @Html.TextBoxFor(m => m.Usuario.Nome, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <label>E-mail</label>
                                            @Html.TextBoxFor(m => m.Usuario.Email, new { @class = "form-control", rows = "3" })
                                        </div>
                                        <div class="form-group">
                                            <label>Senha</label>
                                            @Html.TextBoxFor(m => m.Usuario.Senha, new { @class = "form-control", rows = "3" })
                                        </div>

                                        <div class="form-group">
                                            <input type="submit" value="Salvar" class="btn btn-light" />
                                        </div>
                                    }
                                </div>
                            </div>
                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-default">
                                    <!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                <th>@Html.DisplayNameFor(model => model.Usuario.Id)</th>
                                                <th>@Html.DisplayNameFor(model => model.Usuario.Nome)</th>
                                                <th>@Html.DisplayNameFor(model => model.Usuario.Email)</th>
                                                <th></th>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.Usuarios)
                                                    {
                                                        <tr>
                                                            <td>@item.Id</td>
                                                            <td>@item.Nome</td>
                                                            <td>@item.Email</td>
                                                            <td>@Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-light" }) @Html.ActionLink("Excluir", "Delete", "Usuario", new { id = item.Id }, new { @class = "btn btn-light" })</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.table-responsive -->
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                                <!-- /.panel -->
                            </div>
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="~/Content/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Content/js/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="~/Content/js/raphael.min.js"></script>
    <script src="~/Content/js/morris.min.js"></script>
    <script src="~/Content/js/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/Content/js/startmin.js"></script>

</body>

</html>